.menu {
        background-color: #192940ff;
        display: flex;
        color: white;
        justify-content: center;

}


body {
        background-color: #93a192ff;
}

fieldset {
        background-color: #e2f7e1ff;
        width: 72%;
        margin: 0 auto;
        color: black;
        text-align: center;
}
.figuras {
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
}
.figuras a{
        text-decoration: none;
        color: black;
}
footer {
        flex-wrap: wrap;      
        width: 70%;
        margin: 0 auto;
        color: #596158ff;
        text-align: center;     
}
.social a{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-decoration: none;
}
