.menu {
        background-color: #6B8089;
        display: flex;
        color: white;
        justify-content: center;
        align-items: center;
}
.menu img{
        height: 100px;
        width: 100px;
}


body {
        background-color: #CCCCCC;
}

.campo {
        background-color:white;
        width: 100%;
        margin: 0 auto;
        color: black;
        text-align: center;
}
.figuras {
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
}
.figuras a{
        text-decoration: none;
        color: black;
}
footer {
        background-color: #002a68;
        flex-wrap: wrap;      
        width: 100%;
        margin: 0 auto;
        color: white;
        text-align: center;     
}
.social a{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-decoration: none;
}
.social img{
        height: 40px;
        width: 40px;
}