body {
        background-color: #93a192ff;
}

fieldset {
        background-color: #e2f7e1ff;
        width: 70%;
        margin: 0 auto;
        color: #596158ff;
        text-align: center;
}
.figuras {
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
}
footer {
        flex-wrap: wrap;      
        width: 70%;
        margin: 0 auto;
        color: #596158ff;
        text-align: center;
}
.social {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        
}
